body {
    background: #FFF;
    color: #000;
    font-family: sans-serif;
    text-align: center;
}

#tablero {
    background: url(http://jesuscastillo.esy.es/DisenoInterfacesWeb/Tema4/imagenes/madera.jpeg);
    background-color: #008b8b;
    box-shadow: 0 10px 10px -6px rgba(0, 0, 0, .6);
    border-radius: 3px;
    border-collapse: collapse;
    width: 600px;
    height: 600px;
    margin: auto;
}

#tablero td {
    /*color: #222;*/
    font-size: 36px;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.6);
    text-align: center;
    width: 80px;
    height: 80px;
}

#tablero tr:nth-child(odd) td:nth-child(even),
#tablero tr:nth-child(even) td:nth-child(odd) {
    background: rgba(0, 0, 0, 0.5);
}

#tablero tr:nth-child(n+7) td {
    /*color: #fff;*/
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
}

.white {
    color: #FFF !important;
}

.black {
    color: #222 !important;
}